body {
    background-color: #FFFFFF;
    margin: 0;
}

.first {
    border: solid;
    height: 180px;
    margin: 17px 10px;
    padding: 10px;
}

.purple {
    display: inline-block;
    background-color: #8A2BE2;
    height: 65%;
    width: 40px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.green {
    display: inline-block;
    background-color: #228B22;
    height: 90%;
    width: 45%;
    margin: 5px 20px;
}

.blue {
    display: inline-block;
    background-color: #87CEEB;
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

.second {
    border: dotted;
    height: 200px;
    margin: 17px 10px;
    padding: 10px;
}

.yellow {
    background-color: #FFFACD;
    box-shadow: 5px 5px 5px black;
    height: 75%;
    width: 92%;
    margin: 20px auto;
}

.third {
    background-color: #FFFFFF;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 2px lightgray;
    height: 200px;
    width: 45%;
    margin: 17px auto;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding: 80px;
    color: #000080;
}